@-webkit-keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
        -webkit-backdrop-filter: blur(0px) saturate(100%);
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration:0.5s;
  animation-duration:0.5s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration:0.5s;
  animation-duration:0.5s;
}

@-webkit-keyframes scaleIn {
    0% {
        display: none;
        opacity: 0;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    1% {
        display: block;
        opacity: 0;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        display: block;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        display:none;
        opacity:0;
        -webkit-transform:scale(0.8);
        transform:scale(0.8);
        -moz-transform:scale(0.8);
        -ms-transform:scale(0.8);
        -o-transform:scale(0.8);
    }
    1% {
        display: block;
        opacity: 0;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
    100% {
        display: block;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.scaleIn {
    -webkit-animation-duration:.5s;
    -webkit-animation-name:scaleIn;
    -webkit-animation-delay: .25s;
    -webkit-animation-fill-mode: forwards;
    animation-duration:.5s;
    animation-name:scaleIn;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    display: block;
}

.scaleInNoDelay {
    -webkit-animation-duration:.5s;
    -webkit-animation-name:scaleIn;
    -webkit-animation-fill-mode: forwards;
    animation-duration:.5s;
    animation-name:scaleIn;
    animation-fill-mode: forwards;
}

.scaleInNoDelayFast {
    -webkit-animation-duration:.52s;
    -webkit-animation-name:scaleIn;
    -webkit-animation-fill-mode: forwards;
    animation-duration:.25s;
    animation-name:scaleIn;
    animation-fill-mode: forwards;
}

@-webkit-keyframes scaleOut {
    0% {
        display: block;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    1% {
        display: block;
        opacity: 1;
        -webkit-transform: scale(1);
        -webkit-transform: scale(1);
    }
    100% {
        display: none;
        opacity: 0;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes scaleOut {
    0% {
        display:block;
        opacity:1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    1% {
        display: block;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {
        display: none;
        opacity: 0;
        -webkit-transform:scale(0.8);
        transform:scale(0.8);
        -moz-transform:scale(0.8);
        -ms-transform:scale(0.8);
        -o-transform:scale(0.8);
    }
}

.scaleOut {
    -webkit-animation-duration:.5s;
    -webkit-animation-name:scaleOut;
    animation-duration:.5s;
    animation-name:scaleOut;
}

.scaleOutFast {
    -webkit-animation-duration:.25s;
    -webkit-animation-name:scaleOut;
    animation-duration:.25s;
    animation-name:scaleOut;
}