@font-face{
    font-family:'Avenir';src:url(../fonts/avenirlight.eot);
    src:url(../fonts/avenirlight.eot) format("embedded-opentype"),
        url(../fonts/avenirlight.woff2) format("woff2"),
        url(../fonts/avenirlight.woff) format("woff"),
        url(../fonts/avenirlight.ttf) format("truetype"),
        url(../fonts/avenirlight.svg#avenirlight) format("svg")
}

@font-face{
    font-family:'Lora';
    src:url(../fonts/lora-regular.eot);src:url(../fonts/lora-regular.eot) format("embedded-opentype"),
        url(../fonts/lora-regular.woff2) format("woff2"),
        url(../fonts/lora-regular.woff) format("woff"),
        url(../fonts/lora-regular.ttf) format("truetype"),
        url(../fonts/lora-regular.svglora) format("svg")
}